DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=contraseña
DB_NAME=dmrepuestosagricolas

JWT_SECRET=12345678
JWT_EXPIRES_IN=8h

PORT=3000

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=correo_negocio@gmail.com
MAIL_PASSWORD=contraseña_app
MAIL_FROM="DM Repuestos Agricolas <correo_negocio@gmail.com>"
ADMIN_EMAIL=correo_negocio@gmail.com

ADMIN_SEED_NAME=Administrador
ADMIN_SEED_PASSWORD=CambiarContraseña123
